@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply bg-neutral-100 text-gray-900 dark:bg-gray-900 dark:text-neutral-100;
}

#__next {
    @apply flex justify-center;
}

.__react_component_tooltip {
    transition: all 0.25s ease-in-out !important;
    opacity: 0 !important;
    visibility: visible;
    @apply bg-gray-800 px-[21px] py-[8px] top-10 left-5;
}

.__react_component_tooltip.show {
    visibility: visible;
    opacity: 1 !important;
}